<div class="card col-3 m-2 mt-5" style="width: 100%;">
  <div class="card-header bg-danger text-white">
    <h3>Add User</h3>
  </div>
  <div class="card-body">
    <div class="text-center" >

      <div class="form-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="User.username" placeholder="Username" name="username" required />
      </div>

      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="User.passControl" name="passControl" required />
      </div>
      
      <div class="form-group mb-3">
        <input type="email" class="form-control" [(ngModel)]="User.email" placeholder="Email" name="email" required />
      </div>

      <div class="form-group mb-3" name="stateUser" >
        <select class="form-control" [(ngModel)]="User.stateUser" required >
          <option value="" >State</option>
          <option value="Activo" >Activo</option>
          <option value="Inactivo" >Inactivo</option>
        </select>
      </div>

      <input type="submit" class="btn btn-outline-danger col-9 mb-2" (click)="onSave()" value="Add">
      <br>
      <h6 class="text-danger" style="height: 10px;" > {{ this.Mess }} </h6>
      
    </div>
  </div>
</div>