<div>
  
  <nav class="navbar navbar-danger bg-danger">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./logoAndular.webp" class="w-25" alt="Logo Angular">
      </a>

      <div>
        <a class="btn btn-outline-light" target="_blank" href="https://github.com/Emmanuel0722">
          About Me
        </a>
      </div>
    </div>

  </nav>

  <div class="d-flex justify-content-center" >
    <div style="width: 60%;">
      <router-outlet name="user-list" ></router-outlet>
    </div>
    <div style="width: 20%;">
      <router-outlet name="app-add-user" ></router-outlet>
    </div>
  </div>

</div>
